<link rel="stylesheet" href="../../css/editarEquipe.css">

<section class="editarEquipe">
    <h1>NOVA EQUIPE</h1>

    <form class="form-equipe" action="/adicionarEquipe" method="POST">
        
        <div class="form-group">
            <label for="nome">Nome da Equipe:</label>
            <input type="text" id="nome" name="nome" required>
        </div>

        <div class="form-group">
            <label for="pais">País:</label>
            <input type="text" id="pais" name="pais" required>
        </div>

        <div class="form-group">
            <label for="chefe_equipe">Chefe de Equipe:</label>
            <input type="text" id="chefe_equipe" name="chefe_equipe" required>
        </div>

        <div class="form-group">
            <button type="submit">CRIAR</button>
        </div>
    </form>
</section>