<!-- Rodapé -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="../../images/logoF1Branco.png" alt="Logo F1">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#equipes">Equipes</a></li>
                <li><a href="#pilotos">Pilotos</a></li>
                <li><a href="#circuitos">Circuitos</a></li>
                <li><a href="#resultados">Resultados</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/Formula1" target="_blank">Facebook</a>
            <a href="https://x.com/f1" target="_blank">Twitter</a>
            <a href="https://www.instagram.com/f1" target="_blank">Instagram</a>
        </div>
        <div class="footer-info">
            <p>&copy; 2024 Fórmula 1 - Todos os direitos reservados</p>
        </div>
    </div>
</footer>