<!-- Rodapé -->
<footer>
    <section class="footer-container">
        <article class="footer-logo">
            <img src="../../images/logoF1Branco.png" alt="Logo F1">
        </article>
        <article class="footer-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listarEquipes">Equipes</a></li>
                <li><a href="#pilotos">Pilotos</a></li>
                <li><a href="#circuitos">Circuitos</a></li>
                <li><a href="#resultados">Resultados</a></li>
            </ul>
        </article>
        <article class="footer-social">
            <a href="https://www.facebook.com/Formula1" target="_blank">
                <img src="../../images/iconFacebook.png" alt="Logo F1">Facebook
            </a>
            <a href="https://www.instagram.com/f1" target="_blank">
                <img src="../../images/iconInstagram.png" alt="Logo F1">Instagram
            </a>
        </article>
        <article class="footer-info">
            <p>&copy; 2024 Fórmula 1 - Todos os direitos reservados</p>
        </article>
    </section>
</footer>