<!-- Menu de navegação -->
<nav class="menu">
    <ul>
        <li><a href="#home"><img src="../../images/logoF1Branco.png" alt="Home"></a></li>
        <li><a href="#equipes">Equipes</a></li>
        <li><a href="#pilotos">Pilotos</a></li>
        <li><a href="#circuitos">Circuitos</a></li>
        <li><a href="#resultados">Resultados</a></li>
    </ul>
</nav>