/* Definindo as fontes personalizadas para o site */
@font-face {
  font-family: "FonteF1";
  src: url("../fonts/Formula1-Bold.otf") format("opentype"),
    url("../fonts/Formula1-Regular.otf") format("opentype"),
    url("../fonts/Formula1-Wide.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Definindo as cores principais do site */
:root {
  --cor-primaria: #E10600; /* Vermelho */
  --cor-secundaria: #FFF; /* Branco */
}

/* Estilo geral do corpo da página */
body {
  font-family: FonteF1, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Estilo do menu de navegação fixo no topo */
.menu {
  width: 100%;
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(225, 6, 0, 0.4);
}

/* Estilo do botão de menu tipo "hambúrguer" (para dispositivos móveis) */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: #fff;
  height: 0.3rem;
  width: 1.5rem;
  margin: 0.15rem 0;
}

/* Estilo da lista de navegação */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo dos itens do menu */
.menu li {
  margin: 0.25rem;
  padding: 0.7rem;
}

/* Estilo dos links do menu */
.menu a {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.7rem;
  cursor: pointer;
}

/* Estilo das imagens no menu */
.menu ul img {
  width: 5vw;
  height: auto;
}

/* Estilo do rodapé */
footer {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-logo img {
  width: 5vw;
}

/* Estilo dos links no rodapé */
.footer-links ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.footer-links ul li {
  margin-right: 0.5rem;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilo dos links sociais no rodapé */

.footer-social{
  display: flex;
}

.footer-social a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  margin-right: 0.5rem;
  text-decoration: none;
}

.footer-social img{
  width: 1.5vw;
  margin-right: 0.3rem;
}

/* Espaçamento para a seção de direitos autorais */
.footer-info {
  margin-top: 1rem;
}

/* Estilo dos parágrafos no rodapé */
footer p {
  margin: 0;
}

/* Responsividade para telas menores (como dispositivos móveis) */
@media (width <= 768px) {

  /* Menu em coluna para dispositivos móveis */
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .menu ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    max-height: 0; /* Menu oculto por padrão */
    overflow: hidden;
    transition: max-height 0.5s ease; /* Animação suave ao abrir o menu */
  }

  /* Ícone de hambúrguer visível em telas menores */
  .menu .menu-toggle {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .menu .menu-toggle img{
    width: 8vw;
  }

  /* Menu exibido quando a classe 'show' é aplicada */
  .menu ul.show {
    max-height: 18rem;
  }

  /* Ajusta o tamanho das imagens do menu em dispositivos móveis */
  .menu #menu-list img {
    width: 15vw;
  }

  .footer-logo img {
    width: 15vw;
    margin-bottom: 1rem;
  }

  .footer-links ul {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .footer-links ul li {
    margin-bottom: 1rem;
  }

  .footer-social a {
    margin-bottom: 0.5rem;
  }

  .footer-social img{
    width: 3vw;
  }
}
