<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de F1</title>
    <link rel="icon" href="../../images/favicon-16x16.png" type="image/png">
    <link rel="stylesheet" href="../../css/stylePrincipal.css">
</head>

<body>
    <%- include ('../partials/menu.ejs'); %>
    <main>
        <%- body %>
    </main>
    <%- include ('../partials/footer'); %>

</body>

</html>